.post{
    margin-top: 20px;
    /* width: 300px; */
    margin: 0 25px 40px 25px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    padding: 5px;
}

.postImg{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.postInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat{
    font-family: "Varela Round", sans-serif;
    font-size: 11px;
    color: rgb(186, 185, 185);
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle{
    font-family: 'Lora', serif;
    font-size: 18px;
    margin-top: 0px;
    cursor: pointer;
}

.postDate{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: grey;
}

.postDesc{
    font-size: 14px;
    color:#444;
    line-height: 16px;
    margin-top: 15px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.link{
    text-decoration: none;
    color: inherit;
}