.login{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url("./login.jpg");
    background-size: cover;
    background-position: center;
}

.loginTitle{
    font-size: 50px;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm > label{
    margin: 10px 0;
}

.loginInput{
    padding: 10px;
    background-color: white;
    border: 0.5px solid gray;
    width: 190px;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(145, 77, 65);
    border:none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.signupButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(6, 70, 24);
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
}